.App__field {
  margin-bottom: 15px;
  width: 48%;
}

.App__top {
  border-radius: 0!important;
  align-items: center;
}

.Sets {
  margin-top: 25px;
  display: flex;
  justify-content: space-between;
}

.Fields {
  display: flex;
  justify-content: space-between;
}

.Fields .input {
  width: 75%!important;
}